flynt-component[name='NavigationArtists'] {
  display: none;
  font-size: var(--bodyFontSizeSmall);
  position: relative;

  @media (min-width: $breakpoint-tablet) {
    display: none;
  }

  .navigation {
    background-color: var(--color-background);
    height: var(--navigation-height);
    inset-block-start: 0;
    inset-inline: 0;
    width: 100%;
    z-index: 99;

    .admin-bar & {
      inset-block-start: var(--wp-admin--admin-bar--height);
    }
  }

  .wrapper {
    align-items: center;
    display: flex;
    flex-flow: column;
    gap: var(--spacingSmall);
    height: 100%;
    justify-content: center;
  }

  @import 'Partials/menu';
}
