<flynt-component client:idle client:media="(min-width: 1024px)" name="NavigationArtists">
  <nav class="navigation" aria-label="{{ labels.ariaLabel|e }}">
    <div class="boxed">
      {% if menu %}
        {% include 'Partials/_menu.twig' with { 'items': menu.items } only %}
      {% endif %}
    </div>
  </nav>
</flynt-component>
