{% extends 'templates/_document.twig' %}

{% block content %}
  <article class="post">
    <header class="post-header">
      {{ renderComponent('BlockEventHeader', { post: post }) }}
    </header>
    <section class="post-main">
      {% for component in post.meta('eventComponents') %}
        {{ renderComponent(component) }}
      {% endfor %}
    </section>
    {# <section class="post-related">
      {{ renderComponent('GridPostsLatest', {'preContentHtml': '<h1>' ~ __('Related Posts') ~ '</h1>','taxonomies': post.categories(), 'options': {'theme': 'light', 'maxColumns': 3}}) }}
    </section> #}
  </article>
{% endblock %}
