flynt-component[name='NavigationArtistsAnchor'] {
  display: none;
  font-size: var(--bodyFontSizeSmall);
  padding-bottom: 0;
  padding-top: 0;
  position: relative;

  @media (min-width: $breakpoint-tablet) {
    display: none;
  }

  .navigation {
    background-color: var(--color-background);
    // border-bottom: solid 1px var(--color-border);
    height: var(--navigation-height);
    inset-block-start: 0;
    inset-inline: 0;
    // position: fixed;
    width: 100%;
    z-index: 99;

    .admin-bar & {
      inset-block-start: var(--wp-admin--admin-bar--height);
    }
  }

  .boxed {
    padding: 0 var(--spacingLarge);
  }

  @import 'Partials/menu';
}
