{% if blockAnnouncementIsEnabled %}
<flynt-component client:visible name="BlockAnnouncement" class="blockAnnouncement">
  {% if ctaLink.url %}
  <div class="wrapper">
      <a class="cta h3" href="{{ ctaLink.url }}"{% if ctaLink.target %} target="{{ ctaLink.target }}" rel="noreferrer noopener"{% endif %}>
        {{ ctaLink.title|e }}
      <div>{{ readMoreLabel }}</div>
      </a>
  </div>
  {% endif %}
</flynt-component>
{% endif %}
