flynt-component[name='NavigationMain'] {
  display: none;
  font-size: var(--bodyFontSizeSmall);
  position: relative;

  @media (min-width: $breakpoint-tablet) {
    display: block;
  }

  .navigation {
    background-color: var(--color-background);
    // border-bottom: solid 1px var(--color-border);
    height: var(--navigation-height);
    inset-block-start: 0;
    inset-inline: 0;
    // position: fixed;
    width: 100%;
    z-index: 99;

    .admin-bar & {
      inset-block-start: var(--wp-admin--admin-bar--height);
    }
  }

  .container {
    align-items: center;
    display: flex;
    flex-flow: column;
    gap: var(--spacingSmall);
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 0;
    padding-top: var(--spacingSmall);
  }

  @import 'Partials/logo';
  @import 'Partials/menu';
}
